# Database Configuration
POSTGRES_USER=demo
POSTGRES_PASSWORD=demo
POSTGRES_DB=modeling_lab
POSTGRES_DB_METADATA=dagster_meta
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Dagster Configuration
DAGSTER_HOME=/opt/dagster/dagster_home
DAGSTER_MODULE_NAME=orchestration.dagster.dagster_project

# Metabase Configuration
MB_DB_FILE=/metabase-data/metabase.db
