# Data and Environment
data/
.env
*.log

# Python
*__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.venv/
env/

# dbt
transform/dbt/target/
transform/dbt/dbt_packages/
transform/dbt/logs/

# IDEs and OS
.idea/
.vscode/
.DS_Store
Thumbs.db
.gemini/